### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


# Ignore Custom IncorrectStudentDetailsException & its Mapper
**/IncorrectStudentDetails*.java